/* Reset de márgenes y padding para todos los elementos */
  * {
    margin: 0;
    padding: 0;
  }

  /* Define la fuente Playfair Display como la fuente principal */
  body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }

